<div class="welcome-text">
  <h1>We all started as a newbie.</h1>
  <p>
    Our advice is code a bit everyday. It doesn't have to be a huge project
    each day but just something. Use our app to track your daily progress.
  </p>
  <h1>About the team</h1>
</div>

<ul class="team-pictures">
  <li>
    <%= image_tag("gooblejook.jpeg", class: "team-picture") %>
  </li>
  <li>
    <%= image_tag("roadbytes.jpeg", class: "team-picture") %>
  </li>
  <li>
    <%= image_tag("technologyriff.jpeg", class: "team-picture") %>
  </li>
  <li>
    <%= image_tag("unlikely-rubyist.jpeg", class: "team-picture") %>
  </li>
</ul>

<div class="welcome-text">
  <p>
    We are Robert Hernandez, Jason Data, Morgan Riffer and Jess Sumner. We are
    all starting out in the web development field. We have all been learning in
    different ways: through bootcamps (online and in-person), online tutorials,
    books and just hacking away. We built this for practice working
    collaboratively. We want to help other newbies learn and develop their
    skills, and we hope this app helps.
  </p>
</div>
