<h1>We all started as a newbie.</h1>

<p>Our advice is code a bit everyday. It doesn't have to be a huge project each day but just something. Use our app to track your daily progress progress.</p>

<h1>About the team</h1>

<p>We are a team of new developers. We are all at the starting out in the web development field. We have all been learning in different ways: through bootcamps (online and in-person), online tutorials, books and just hacking away. We built this 
